<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link type="text/css" rel="stylesheet" href="css/reset.css" />
		<link type="text/css" rel="stylesheet" href="css/style1.css" />
		<link type="text/css" rel="stylesheet" href="css/shopwhat.css" />
		<link type="text/css" rel="stylesheet" href="iconfont/iconfont.css" />
		<script src="js/jquery-1.12.3.js"></script>
		<script src="js/cookie.js"></script>
		<script src="js/style.js"></script>
		<script src="js/shopwhat.js"></script>
		<script>
			$(function(){
				
				//获取从首页传过来的id
				// location.search : 参数部门， 如:?id=1002&name=lisi
				var param = location.search.substring(1);
				var pid = getParams(param, "id");
				console.log(pid);
				
				
//				获取json中的数据
				$.get("JSON/sp.json", function(data){
					var arr = data;
					
					for (var i=0; i<arr.length; i++) {
						var obj = arr[i]; //每个商品数据
						
						//找到id相同的商品后，就可以使用obj了
						if (obj.id == pid) {
							loadUI(obj); 
							console.log(obj.img);
						}
					}
				})
				
				function loadUI(obj){
					console.log("123")
					$("#smallImg").find("img").get(0).src = obj.img;
					$("#bigArea").find("img").get(0).src = obj.img;
					$(".nav-right").find("h1").html( obj.name );
					$("#px1").find("a").html( obj.price );
				}
				
				
//				
//				//查找参数对应的值
				function getParams(str, name){
					var arr = str.split("&");
					for (var i=0; i<arr.length; i++) {
						var str1 = arr[i]; // id=1002 
						var arr1 = str1.split("=");
						if (arr1[0] == name) {
							return arr1[1];
						}
					}
					return ""; 
				}
					$("a").attr("target","_blank");
			})	
				
		</script>
	</head>
	<body>
		<div class="top" id="top">
			<div class="main">
				<ul class="left-top">
					<li><img src="images/top1.jpg" /></li>
					<li>百联集团旗下全渠道电商平台</li>
					<li><a href="">网站导航</a></li>
					<li><a href="">消息</a></li>
				</ul>
				<ul class="right-top">
					<li><a href="html/login.html" class="iconfont">&#xe601;  请登录</a>&nbsp;&nbsp;<a href="html/register.html">注册</a></li>
					<li><a href="">我的订单</a></li>
					<li><a href="">我的百联</a></li>
					<li><a href="">充值缴费</a></li>
					<li><a href="">客户服务</a></li>
					<li><a href="">掌上百联</a></li>
					<li><a href="">购物车</a></li>
				</ul>
			</div>
		</div>	
		<div class="toptop"></div>
		<div class="main" style="position: relative;margin-top: 20px ;">	
			<div class="logomian">
				<a href="index.html"><img src="images/banner.jpg"/></a>
				<form>
					<input type="search" placeholder="iphone8" /><input type="submit" value="搜索" style="cursor: pointer;" />
				</form>
				<input type="button" value="安付宝OK卡专区  >" class="form-inpt" />
				<br />
				<ul class="inpt-ul">
					<li><a>纸巾</a></li>
					<li><a>洗发水</a></li>
					<li><a>咖啡</a></li>
					<li><a>奶粉</a></li>
					<li><a>iphone</a></li>
					<li><a>苹果</a></li>
					<li><a>牙膏</a></li>
					<li><a>耳机</a></li>
					<li><a>牙刷</a></li>
					<li style="border: 0;"><a>雅诗兰黛</a></li>
				</ul>
			</div>
			<div class="banner-main">
				<dt>所有商品分类</dt>
				<dl class="icon">
					
					<dd>&#xe616; <a href="http://global.bl.com/?bl_ad=P668899_-_9999062360_-_3&bl_mmc=blemall_-_0_-_0_-_0">百联进口 全球购</a>
						<div class="bannerx">
							<div class="box1">
								<ul>
									<h5>进口美妆护肤</h5>
										<a href="">面膜</a>		
									 	<a href="">乳液/面霜</a>	
									 	<a href="">化妆水</a>	
										<a href="">护肤套装</a>	
										<a href="">眼部护理</a>	
										<a href="">面部精华</a>	
										<a href="">防晒</a>	
										<a href="">美容仪</a>	
										<a href="">洁面</a>	
										<a href="">卸妆</a>	
										<a href="">彩妆</a>	
										<a href="">香水</a>	
										<a href="">男士护肤</a>	
								</ul>
								<ul>
									<h5>进口个人护理</h5>
										<a href="">洗发水</a>	
										<a href="">护发素</a>	
										<a href="">沐浴露</a>	
										<a href="">漱口水</a>	
										<a href="">牙膏</a>	
										<a href="">牙刷</a>	
										<a href="">身体乳</a>	
										<a href="">护手霜</a>	
										<a href="">身体护理</a>	
										<a href="">卫生巾</a>	
								</ul>
								<ul>
									<h5>进口美食/营养保健</h5>
										<a href="">坚果</a>	
										<a href="">果干</a>	
										<a href="">膨化</a>	
										<a href="">糖果</a>	
										<a href="">海苔</a>	
										<a href="">曲奇</a>	
										<a href="">饼干</a>	
										<a href="">威化</a>	
										<a href="">橄榄油</a>	
										<a href="">泡面</a>	
										<a href="">蜂蜜</a>		
										<a href="">维生素</a>	
										<a href="">葡萄籽</a>	
										<a href="">蔓越莓</a>	
								</ul>
								<ul>
									<h5>进口牛奶/冲饮/酒水</h5>
										<a href="">牛奶</a>	
										<a href="">全脂</a>	
										<a href="">低脂</a>	
										<a href="">豆奶</a>	
										<a href="">成人奶粉</a>	
										<a href="">营养谷物</a>	
										<a href="">咖啡</a>	
										<a href="">袋泡茶</a>	
										<a href="">水</a>	
										<a href="">碳酸</a>	
										<a href="">葡萄酒</a>	
										<a href="">啤酒</a>	
										<a href="">洋酒</a>	
								</ul>
							</div>
							<div class="box2">
								<ul>
									<h5>进口母婴</h5>
										<a href="">奶粉</a>	
										<a href="">辅食</a>	
										<a href="">纸尿裤</a>	
										<a href="">奶瓶奶嘴</a>	
										<a href="">水杯餐具</a>	
										<a href="">洗发沐浴</a>	
										<a href="">宝宝护肤</a>	
										<a href="">口腔清洁</a>	
										<a href="">手推车</a>	
										<a href="">安全座椅</a>	
										<a href="">玩具</a>	
								</ul>
								<ul>
									<h5>进口品质家居</h5>
										<a href="">吸尘器</a>
										<a href="">咖啡机</a>
										<a href="">榨汁机</a>
										<a href="">滤水壶</a>
										<a href="">锅具</a>
										<a href="">刀具</a>
										<a href="">乳胶枕</a>
								</ul>
								<ul>
									<h5>进口鞋靴箱包</h5>
										<a href="">GUCCI</a>
										<a href="">kipling</a>
										<a href="">MK</a>
										<a href="">MCM</a>
										<a href="">KENZO</a>
										<a href="">FURLA</a>
										<a href="">剑桥包</a>
										<a href="">ANELLO</a>
								</ul>
								<ul>
									<h5>进口饰品/手表</h5>
										<a href="">雷朋</a>
										<a href="">apm</a>
										<a href="">潘多拉</a>
								</ul>
							</div>

							<ul>   
                               <!--
                               	作者：offline
                               	时间：2017-10-12
                               	描述：这里是广告
                               -->
								<li><a href=""><img src="images/ha/11f.jpg" /></a></li>
								<li><a href=""><img src="images/ha/12f.jpg" /></a></li>
							</ul>
						</div>
					</dd>
					<dd>&#xe630; <a href="http://search.bl.com/c-a102768.html?bl_ad=P668899_-_9999060472_-_3&bl_mmc=blemall_-_0_-_0_-_0">生鲜食品</a>
						<div class="bannerx">
							<div class="box1">
								<ul>
									<h5>新鲜水果</h5>
									<a href="">进口水果</a>
									<a href="">国产水果</a>
									<a href="">苹果</a>
									<a href="">芒果</a>
									<a href="">猕猴桃</a>
									<a href="">杨桃</a>
									<a href="">柑橘橙</a>
									<a href="">菠萝/凤梨</a>
									<a href="">山竹</a>
									<a href="">莲雾</a>
									<a href="">牛油果</a>
									<a href="">火龙果</a>
									<a href="">樱桃/车厘子</a>
									<a href="">葡萄提子</a>
									<a href="">黑布林</a>
									<a href="">西柚</a>
								</ul>
								<ul>
									<h5>精选肉类</h5>
									<a href="">牛肉</a>
									<a href="">猪肉</a>
									<a href="">冷冻猪肉</a>
									<a href="">冰鲜猪肉</a>
									<a href="">羊肉</a>
									<a href="">牛排</a>
									<a href="">牛腱</a>
									<a href="">牛腩</a>
									<a href="">牛尾</a>
									<a href="">火腿</a>
								</ul>
								<ul>
									<h5>海鲜水产</h5>
									<a href="">鱼类</a>
									<a href="">大闸蟹</a>
									<a href="">三文鱼</a>
									<a href="">鲳鱼</a>
									<a href="">虾类</a>
									<a href="">虾仁</a>
									<a href="">蟹类</a>
									<a href="">帝王蟹</a>
									<a href="">海参</a>
									<a href="">贝类</a>
									<a href="">扇贝</a>
								</ul>
								<ul>
									<h5>禽类/蛋类</h5>
									<li><a href="">鸡肉</a></li>
									<li><a href="">鸡腿</a></li>
									<li><a href="">鸡翅</a></li>
									<li><a href="">鸭肉</a></li>
									<li><a href="">鸡蛋</a></li>
									<li><a href="">鸭蛋</a></li>
									<li><a href="">咸鸭蛋</a></li>
									<li><a href="">松花皮蛋</a></li>
								</ul>
							</div>
							<div class="box2">
								<ul>
									<h5>速冻食品</h5>
									<li><a href="">水饺</a></li>
									<li><a href="">汤圆</a></li>
									<li><a href="">混沌</a></li>
									<li><a href="">包子</a></li>
									<li><a href="">馒头</a></li>
									<li><a href="">面条</a></li>
									<li><a href="">鱼丸</a></li>
									<li><a href="">贡丸</a></li>
									<li><a href="">速冻蔬菜</a></li>
								</ul>
								<ul>
									<h5>新鲜蔬菜/蔬菜随心打</h5>
									<li><a href="">根茎类</a></li>
									<li><a href="">菌菇类</a></li>
								</ul>
								<ul>
									<h5>烘焙乳品</h5>
									<li><a href="">低温鲜奶</a></li>
									<li><a href="">新鲜酸奶</a></li>
									<li><a href="">冰淇淋</a></li>
									<li><a href="">新鲜蛋糕</a></li>
									<li><a href="">低温奶酪</a></li>
									<li><a href="">黄油</a></li>
									<li><a href="">奶油</a></li>
								</ul>
								<ul>
									<h5>时令特色</h5>
									<li><a href="">大闸蟹</a></li>
									<li><a href="">乔西牛奶</a></li>
								</ul>
							</div>
						<ul>   
                               <!--
                               	作者：offline
                               	时间：2017-10-12
                               	描述：这里是广告
                               -->
							<li><a href=""><img src="images/ha/21f.jpg" /></a></li>
							<li><a href=""><img src="images/ha/22f.jpg" /></a></li>
						</ul>
					</div>
					</dd>
					<dd>&#xe650; <a href="http://search.bl.com/c-a102660.html?bl_ad=P668899_-_9999060421_-_3&bl_mmc=blemall_-_0_-_0_-_0">食品粮油</a>
						<a href="http://search.bl.com/c-a212822.html?bl_ad=P668899_-_9999060421_-_3&bl_mmc=blemall_-_0_-_0_-_0"> 酒水冲饮</a>
						<div class="bannerx">
							<div class="box1">
								<ul>
									<h5>休闲食品</h5>
									<li><a href="">膨化食品</a></li>
									<li><a href="">米饼</a></li>
									<li><a href="">薯片</a></li>
									<li><a href="">坚果</a></li>
									<li><a href="">碧根果</a></li>
									<li><a href="">杏仁/巴旦木</a></li>
									<li><a href="">蜜饯果干</a></li>
									<li><a href="">肉干肉脯</a></li>
									<li><a href="">豆干</a></li>
									<li><a href="">鸭脖</a></li>
									<li><a href="">海味零食</a></li>
									<li><a href="">海苔</a></li>
									<li><a href="">糖果</a></li>
									<li><a href="">巧克力</a></li>
								</ul>
								<ul>
									<h5>饼干糕点</h5>
									<li><a href="">曲奇</a></li>
									<li><a href="">饼干</a></li>
									<li><a href="">杂粮饼干</a></li>
									<li><a href="">中式糕点</a></li>
									<li><a href="">沙琪玛</a></li>
									<li><a href="">凤梨酥</a></li>
									<li><a href="">肉松饼</a></li>
									<li><a href="">西式糕点</a></li>
									<li><a href="">面包</a></li>
								</ul>
								<ul>
									<h5>粮油干货</h5>
									<li><a href="">大米</a></li>
									<li><a href="">食用油</a></li>
									<li><a href="">橄榄油</a></li>
									<li><a href="">菜籽油</a></li>
									<li><a href="">面粉</a></li>
									<li><a href="">淀粉</a></li>
									<li><a href="">杂粮</a></li>
									<li><a href="">挂面</a></li>
									<li><a href="">意面</a></li>
									<li><a href="">粉丝</a></li>
									<li><a href="">香菇</a></li>
									<li><a href="">红枣</a></li>
									<li><a href="">木耳</a></li>
									<li><a href="">枸杞</a></li>
									<li><a href="">银耳</a></li>
									<li><a href="">桂圆干</a></li>
								</ul>
								<ul>
									<h5>素食调味</h5>
									<li><a href="">方便面</a></li>
									<li><a href="">进口泡面</a></li>
									<li><a href="">肉罐头</a></li>
									<li><a href="">水产罐头</a></li>
									<li><a href="">八宝粥</a></li>
									<li><a href="">盐</a></li>
									<li><a href="">糖</a></li>
									<li><a href="">醋</a></li>
									<li><a href="">酱油</a></li>
									<li><a href="">料酒</a></li>
									<li><a href="">香油</a></li>
									<li><a href="">鸡精</a></li>
									<li><a href="">调味料</a></li>
									<li><a href="">调味酱</a></li>
									<li><a href="">酱菜</a></li>
								</ul>
							</div>
							<div class="box2">
								<ul>
									<h5>牛奶乳品</h5>
									<li><a href="">纯牛奶</a></li>
									<li><a href="">进口牛奶</a></li>
									<li><a href="">酸奶</a></li>
									<li><a href="">豆奶</a></li>
									<li><a href="">调味奶</a></li>
									<li><a href="">成人奶粉</a></li>
									<li><a href="">纽仕兰</a></li>
									<li><a href="">安佳</a></li>
									<li><a href="">伊利</a></li>
									<li><a href="">德运</a></li>
									<li><a href="">光明</a></li>
								</ul>
								<ul>
									<h5>中外名酒</h5>
									<li><a href="">白酒</a></li>
									<li><a href="">红葡萄酒</a></li>
									<li><a href="">白葡萄酒</a></li>
									<li><a href="">洋酒</a></li>
									<li><a href="">起泡酒</a></li>
									<li><a href="">啤酒</a></li>
									<li><a href="">黄酒</a></li>
									<li><a href="">保健酒</a></li>
									<li><a href="">鸡尾酒</a></li>
									<li><a href="">五粮液</a></li>
									<li><a href="">洋河</a></li>
									<li><a href="">茅台</a></li>
									<li><a href="">泸州老窖</a></li>
								</ul>
								<ul>
									<h5>饮料</h5>
									<li><a href="">饮用水</a></li>
									<li><a href="">果汁</a></li>
									<li><a href="">碳酸饮料</a></li>
									<li><a href="">茶饮料</a></li>
									<li><a href="">功能饮料</a></li>
									<li><a href="">即饮咖啡</a></li>
									<li><a href="">植物蛋白饮料</a></li>
									<li><a href="">含乳饮料</a></li>
								</ul>
								<ul>
									<h5>咖啡/茶叶/冲调</h5>
									<li><a href="">速溶咖啡</a></li>
									<li><a href="">咖啡豆</a></li>
									<li><a href="">咖啡粉</a></li>
									<li><a href="">滤挂咖啡</a></li>
									<li><a href="">绿茶</a></li>
									<li><a href="">菊花茶</a></li>
									<li><a href="">红茶</a></li>
									<li><a href="">花草茶</a></li>
									<li><a href="">袋泡茶</a></li>
									<li><a href="">普洱茶</a></li>
									<li><a href="">麦片</a></li>
									<li><a href="">奶茶</a></li>
									<li><a href="">柚子茶</a></li>
									<li><a href="">蜂蜜</a></li>
								</ul>
							</div>
						<ul>   
                               <!--
                               	作者：offline
                               	时间：2017-10-12
                               	描述：这里是广告
                               -->
							<li><a href=""><img src="images/ha/31f.jpg" /></a></li>
							<li><a href=""><img src="images/ha/32f.jpg" /></a></li>
						</ul>
					</div>
					<!--
                    	作者：offline
                    	时间：2017-10-12
                    	描述：第三栏 休闲食品
                    -->
					</dd>
					<dd>&#xe602; <a href="http://search.bl.com/c-a103443.html?bl_ad=P668899_-_9999060376_-_3&bl_mmc=blemall_-_0_-_0_-_0">美容护理</a>
						<div class="bannerx">
							<div class="box1">
								<ul>
									<h5>面部护肤</h5>
									<li><a href="">乳液面霜</a></li>
									<li><a href="">护肤套装</a></li>
									<li><a href="">洁面</a></li>
									<li><a href="">面膜</a></li>
									<li><a href="">精华</a></li>
									<li><a href="">爽肤水</a></li>
									<li><a href="">面部喷雾</a></li>
									<li><a href="">眼霜</a></li>
									<li><a href="">润唇膏</a></li>
									<li><a href="">卸妆</a></li>
									<li><a href="">防晒</a></li>
								</ul>
								<ul>
									<h5>美发护肤</h5>
									<li><a href="">洗发水</a></li>
									<li><a href="">进口洗发水</a></li>
									<li><a href="">护发素</a></li>
									<li><a href="">发膜</a></li>
									<li><a href="">洗护套装</a></li>
									<li><a href="">头发造型</a></li>
									<li><a href="">弹力素</a></li>
									<li><a href="">发泥发蜡</a></li>
									<li><a href="">染发</a></li>
								</ul>
								<ul>
									<h5>女性护理</h5>
									<li><a href="">卫生巾</a></li>
									<li><a href="">日用</a></li>
									<li><a href="">夜用</a></li>
									<li><a href="">安心裤</a></li>
									<li><a href="">组合套装</a></li>
									<li><a href="">卫生护垫</a></li>
									<li><a href="">私处洗液</a></li>
								</ul>
								<ul>
									<h5>男士护肤</h5>
									<li><a href="">洁面</a></li>
									<li><a href="">爽肤水</a></li>
									<li><a href="">乳液面霜</a></li>
									<li><a href="">精华</a></li>
									<li><a href="">洗发水</a></li>
									<li><a href="">沐浴露</a></li>
									<li><a href="">剃须刀</a></li>
									<li><a href="">剃须泡沫</a></li>
								</ul>
							</div>
							<div class="box2">
								<ul>
									<h5>身体护理/沐浴清洁</h5>
									<li><a href="">身体乳</a></li>
									<li><a href="">洗手液</a></li>
									<li><a href="">香皂</a></li>
									<li><a href="">泡澡浴盐</a></li>
									<li><a href="">沐浴露</a></li>
									<li><a href="">护手霜</a></li>
									<li><a href="">足部护理</a></li>
									<li><a href="">身体磨砂</a></li>
									<li><a href="">美体瘦身</a></li>
									<li><a href="">精油芳疗</a></li>
									<li><a href="">脱毛</a></li>
								</ul>
								<ul>
									<h5>彩妆</h5>
									<li><a href="">BB霜</a></li>
									<li><a href="">隔离</a></li>
									<li><a href="">粉底</a></li>
									<li><a href="">粉饼</a></li>
									<li><a href="">遮瑕</a></li>
									<li><a href="">散粉</a></li>
									<li><a href="">口红</a></li>
									<li><a href="">睫毛膏</a></li>
									<li><a href="">眼影</a></li>
									<li><a href="">眼线</a></li>
									<li><a href="">眉线笔</a></li>
									<li><a href="">香水</a></li>
									<li><a href="">指甲油</a></li>
								</ul>
								<ul>
									<h5>美容工具/洗护用具</h5>
									<li><a href="">化妆棉</a></li>
									<li><a href="">美发梳</a></li>
									<li><a href="">美甲工具</a></li>
									<li><a href="">眼眉工具</a></li>
									<li><a href="">面部工具</a></li>
									<li><a href="">浴球/浴花</a></li>
								</ul>
								<ul>
									<h5>口腔护理</h5>
									<li><a href="">牙膏</a></li>
									<li><a href="">进口牙膏</a></li>
									<li><a href="">漱口水</a></li>
									<li><a href="">牙刷</a></li>
									<li><a href="">电动牙刷</a></li>
									<li><a href="">口气清新剂</a></li>
								</ul>
							</div>
						<ul>   
                               <!--
                               	作者：offline
                               	时间：2017-10-12
                               	描述：这里是广告
                               -->
							<li><a href=""><img src="images/ha/41f.jpg" /></a></li>
							<li><a href=""><img src="images/ha/42f.jpg" /></a></li>
						</ul>
					</div>
					<!--
                    	作者：offline
                    	时间：2017-10-12
                    	描述：面部护理
                    -->
					</dd>
					<dd>&#xe61d; <a href="http://search.bl.com/c-a102435.html?bl_ad=P668899_-_9999059882_-_3&bl_mmc=blemall_-_0_-_0_-_0">母婴 玩具</a>
						<div class="bannerx">
							<div class="box1">
								<ul>
									<h5>奶粉/辅食</h5>
									<li><a href="">奶粉</a></li>
									<li><a href="">一段</a></li>
									<li><a href="">二段</a></li>
									<li><a href="">三段</a></li>
									<li><a href="">四段</a></li>
									<li><a href="">孕妈奶粉</a></li>
									<li><a href="">特殊配方</a></li>
									<li><a href="">有机奶粉</a></li>
									<li><a href="">米粉粥</a></li>
									<li><a href="">营养品</a></li>
								</ul>
								<ul>
									<h5>尿裤/湿巾</h5>
									<li><a href="">纸尿裤</a></li>
									<li><a href="">NB</a></li>
									<li><a href="">S</a></li>
									<li><a href="">M</a></li>
									<li><a href="">L</a></li>
									<li><a href="">XL</a></li>
									<li><a href="">拉拉裤</a></li>
									<li><a href="">婴儿湿巾</a></li>
								</ul>
								<ul>
									<h5>宝宝洗护清洁</h5>
									<li><a href="">洗发洗护</a></li>
									<li><a href="">沐浴露</a></li>
									<li><a href="">婴儿护肤</a></li>
									<li><a href="">牙膏/牙刷</a></li>
									<li><a href="">驱蚊/防痱</a></li>
									<li><a href="">洗衣液</a></li>
									<li><a href="">洗衣皂</a></li>
									<li><a href="">奶瓶清洁</a></li>
									<li><a href="">洗手液</a></li>
									<li><a href="">坐便器</a></li>
									<li><a href="">日常护理</a></li>
								</ul>
								<ul>
									<h5>玩具</h5>
									<li><a href="">早教益智</a></li>
									<li><a href="">彩泥手工</a></li>
									<li><a href="">婴幼儿玩具</a></li>
									<li><a href="">电动玩具</a></li>
									<li><a href="">积木拼图</a></li>
									<li><a href="">毛绒</a></li>
									<li><a href="">娃娃</a></li>
									<li><a href="">动漫</a></li>
									<li><a href="">休闲玩具</a></li>
								</ul>
							</div>
							<div class="box2">
								<ul>
									<h5>婴童车床/婴幼家纺</h5>
									<li><a href="">安全座椅</a></li>
									<li><a href="">婴儿推车</a></li>
									<li><a href="">婴儿背带</a></li>
									<li><a href="">婴儿床</a></li>
									<li><a href="">餐椅</a></li>
									<li><a href="">自行车</a></li>
									<li><a href="">儿童枕</a></li>
									<li><a href="">抱枕/抱毯</a></li>
								</ul>
								<ul>
									<h5>哺育喂养用品</h5>
									<li><a href="">奶瓶/奶嘴</a></li>
									<li><a href="">吸奶器</a></li>
									<li><a href="">奶瓶消毒</a></li>
									<li><a href="">暖奶器</a></li>
									<li><a href="">储奶袋/瓶</a></li>
									<li><a href="">安抚奶嘴</a></li>
									<li><a href="">牙胶咬咬乐</a></li>
									<li><a href="">奶瓶刷/奶嘴刷</a></li>
									<li><a href="">儿童餐具</a></li>
									<li><a href="">吸管杯</a></li>
								</ul>
								<ul>
									<h5>童装/童鞋/婴儿服饰</h5>
									<li><a href="">T恤</a></li>
									<li><a href="">内衣裤</a></li>
									<li><a href="">运动裤</a></li>
									<li><a href="">童套装</a></li>
									<li><a href="">连衣裙</a></li>
									<li><a href="">外套/夹克</a></li>
									<li><a href="">休闲裤</a></li>
									<li><a href="">牛仔裤</a></li>
									<li><a href="">睡衣</a></li>
									<li><a href="">婴儿鞋</a></li>
								</ul>
								<ul>
									<h5>孕妈专区</h5>
									<li><a href="">防溢乳垫</a></li>
									<li><a href="">孕妈洗护</a></li>
									<li><a href="">产后修复</a></li>
									<li><a href="">文胸/内裤</a></li>
									<li><a href="">防辐射服</a></li>
								</ul>
							</div>	
						<ul>   
                               <!--
                               	作者：offline
                               	时间：2017-10-12
                               	描述：这里是广告
                               -->
							<li><a href=""><img src="images/ha/51f.jpg" /></a></li>
							<li><a href=""><img src="images/ha/52f.jpg" /></a></li>
						</ul>
					</div>
					</dd>
					<dd>&#xe635; <a href="http://search.bl.com/c-a102537.html?bl_ad=P668899_-_9999061110_-_3&bl_mmc=blemall_-_0_-_0_-_0">餐厨用具 家具家装</a>
						<div class="bannerx">
							<div class="box1">
								<ul>
									<h5>厨具锅具</h5>
									<li><a href="">套装锅</a></li>
									<li><a href="">炒锅</a></li>
									<li><a href="">平底锅</a></li>
									<li><a href="">汤锅</a></li>
									<li><a href="">煲/砂锅</a></li>
									<li><a href="">蒸锅</a></li>
									<li><a href="">压力锅</a></li>
									<li><a href="">烧水壶</a></li>
									<li><a href="">刀具</a></li>
									<li><a href="">砧板</a></li>
									<li><a href="">铲勺</a></li>
									<li><a href="">收纳</a></li>
									<li><a href="">置物架</a></li>
									<li><a href="">厨房工具</a></li>
									<li><a href="">烘焙</a></li>
								</ul>
								<ul>
									<h5>收纳洗晒</h5>
									<li><a href="">收纳箱</a></li>
									<li><a href="">收纳柜</a></li>
									<li><a href="">收纳袋</a></li>
									<li><a href="">压缩袋</a></li>
									<li><a href="">衣架</a></li>
									<li><a href="">晾晒衣架</a></li>
									<li><a href="">杂物收纳</a></li>
									<li><a href="">洗晒用具</a></li>
								</ul>
								<ul>
									<h5>居家日用</h5>
									<li><a href="">雨伞雨具</a></li>
									<li><a href="">粘钩挂钩</a></li>
									<li><a href="">口罩</a></li>
									<li><a href="">纸巾套/盒</a></li>
									<li><a href="">防潮垫</a></li>
									<li><a href="">保暖贴</a></li>
								</ul>
								<ul>
									<h5>家装建材/家具</h5>
									<li><a href="">浴霸</a></li>
									<li><a href="">马桶盖</a></li>
									<li><a href="">厨房装修</a></li>
									<li><a href="">卫浴装修</a></li>
									<li><a href="">开关插座</a></li>
									<li><a href="">五金工具</a></li>
									<li><a href="">灯具</a></li>
									<li><a href="">床垫</a></li>
									<li><a href="">床</a></li>
								</ul>
							</div>
							<div class="box2">
								<ul>
									<h5>餐具/水具</h5>
									<li><a href="">水杯</a></li>
									<li><a href="">保鲜盒</a></li>
									<li><a href="">滤水盒</a></li>
									<li><a href="">碗碟</a></li>
									<li><a href="">餐具套装</a></li>
									<li><a href="">果盘托盘</a></li>
									<li><a href="">刀叉</a></li>
									<li><a href="">筷子</a></li>
									<li><a href="">酒具</a></li>
									<li><a href="">保温杯</a></li>
									<li><a href="">咖啡具</a></li>
									<li><a href="">茶具</a></li>
								</ul>
								<ul>
									<h5>床上用品</h5>
									<li><a href="">床品套件</a></li>
									<li><a href="">床垫</a></li>
									<li><a href="">被子</a></li>
									<li><a href="">秋冬被</a></li>
									<li><a href="">枕头</a></li>
									<li><a href="">记忆乳胶枕</a></li>
									<li><a href="">毛毯</a></li>
									<li><a href="">床单被罩</a></li>
								</ul>
								<ul>
									<h5>家纺布艺</h5>
									<li><a href="">毛巾</a></li>
									<li><a href="">毛巾礼盒</a></li>
									<li><a href="">浴巾浴袍</a></li>
									<li><a href="">家居拖鞋</a></li>
									<li><a href="">靠垫坐垫</a></li>
									<li><a href="">地毯地垫</a></li>
									<li><a href="">围裙袖套</a></li>
								</ul>
								<ul>
									<h5>宠物用品</h5>
									<li><a href="">猫粮</a></li>
									<li><a href="">狗粮</a></li>
									<li><a href="">宠物用品</a></li>
									<li><a href="">宠物清洁</a></li>
									<li><a href="">花瓶</a></li>
								</ul>
							</div>	
						<ul>   
                               <!--
                               	作者：offline
                               	时间：2017-10-12
                               	描述：这里是广告
                               -->
							<li><a href=""><img src="images/ha/61f.jpg" /></a></li>
							<li><a href=""><img src="images/ha/62f.jpg" /></a></li>
						</ul>
					</div>
					</dd>
					<dd>&#xe69a; <a href="http://search.bl.com/c-a102561.html?bl_ad=P668899_-_9999059635_-_3&bl_mmc=blemall_-_0_-_0_-_0">女装 男装</a>
						<div class="bannerx">
							<div class="box1">
								<ul>
									<h5>衣物清洁护理</h5>
									<li><a href="">洗衣液凝珠</a></li>
									<li><a href="">洗衣粉</a></li>
									<li><a href="">衣物除菌</a></li>
									<li><a href="">柔顺剂</a></li>
									<li><a href="">洗衣皂</a></li>
									<li><a href="">衣领净</a></li>
									<li><a href="">漂白</a></li>
									<li><a href="">彩漂</a></li>
									<li><a href="">天然皂粉</a></li>
								</ul>
								<ul>
									<h5>家庭清洁</h5>
									<li><a href="">防潮防蛀</a></li>
									<li><a href="">驱蚊驱虫</a></li>
									<li><a href="">地板清洁</a></li>
									<li><a href="">玻璃清洁</a></li>
									<li><a href="">冰箱去味</a></li>
									<li><a href="">除甲醛</a></li>
									<li><a href="">空气清新</a></li>
									<li><a href="">家电清洁</a></li>
									<li><a href="">鞋油鞋刷</a></li>
								</ul>
								<ul>
									<h5>清洁工具</h5>
									<li><a href="">拖把</a></li>
									<li><a href="">旋转拖把</a></li>
									<li><a href="">扫把</a></li>
									<li><a href="">抹布</a></li>
									<li><a href="">百洁布</a></li>
									<li><a href="">钢丝球</a></li>
								</ul>
								<ul>
									<h5>卫浴用品</h5>
									<li><a href="">肥皂盒</a></li>
									<li><a href="">浴室防滑垫</a></li>
									<li><a href="">水桶</a></li>
									<li><a href="">脸盆</a></li>
								</ul>
							</div>
							<div class="box2">
								<ul>
									<h5>纸质品</h5>
									<li><a href="">抽纸</a></li>
									<li><a href="">卷筒纸</a></li>
									<li><a href="">手帕纸</a></li>
									<li><a href="">餐巾纸</a></li>
									<li><a href="">湿巾</a></li>
									<li><a href="">平板卫生纸</a></li>
									<li><a href="">厨房用纸</a></li>
								</ul>
								<ul>
									<h5>厨卫清洁</h5>
									<li><a href="">洗洁精</a></li>
									<li><a href="">消毒液</a></li>
									<li><a href="">油污净</a></li>
									<li><a href="">洁厕剂</a></li>
									<li><a href="">管道通</a></li>
									<li><a href="">卫浴清洁剂</a></li>
								</ul>
								<ul>
									<h5>一次性用品</h5>
									<li><a href="">保鲜膜</a></li>
									<li><a href="">垃圾袋</a></li>
									<li><a href="">保鲜袋</a></li>
									<li><a href="">塑料杯</a></li>
									<li><a href="">纸杯</a></li>
									<li><a href="">一次性餐具</a></li>
									<li><a href="">锡纸铝箔</a></li>
									<li><a href="">鞋套</a></li>
									<li><a href="">牙签</a></li>
									<li><a href="">手套</a></li>
								</ul>
								<ul>
									<h5>品牌推荐</h5>
									<li><a href="">奥妙</a></li>
									<li><a href="">金纺</a></li>
									<li><a href="">立白</a></li>
									<li><a href="">蓝月亮</a></li>
									<li><a href="">威猛先生</a></li>
									<li><a href="">威露士</a></li>
									<li><a href="">超能</a></li>
									<li><a href="">汰渍</a></li>
									<li><a href="">妙洁</a></li>
									<li><a href="">白猫</a></li>
									<li><a href="">滴露</a></li>
									<li><a href="">樱之花</a></li>
									<li><a href="">茶花</a></li>
									<li><a href="">妮飘</a></li>
								</ul>
							</div>
						<ul>   
                               <!--
                               	作者：offline
                               	时间：2017-10-12
                               	描述：这里是广告
                               -->
							<li><a href=""><img src="images/ha/71f.jpg" /></a></li>
							<li><a href=""><img src="images/ha/72f.jpg" /></a></li>
						</ul>
					</div>
					</dd>
					<dd>&#xe614; <a href="http://search.bl.com/c-a102653.html?bl_ad=P668899_-_9999060010_-_3&bl_mmc=blemall_-_0_-_0_-_0">鞋靴箱包</a>
					<a href="http://search.bl.com/c-a102261.html?bl_ad=P668899_-_9999060010_-_3&bl_mmc=blemall_-_0_-_0_-_0"> 珠宝首饰</a>
						<div class="bannerx">
							<div class="box1">
								<ul>
									<h5>女士上装</h5>
									<li><a href="">长袖T恤</a></li>
									<li><a href="">衬衫</a></li>
									<li><a href="">针织衫</a></li>
									<li><a href="">外套</a></li>
									<li><a href="">小西装</a></li>
									<li><a href="">卫衣</a></li>
									<li><a href="">风衣</a></li>
									<li><a href="">毛呢大衣</a></li>
									<li><a href="">羽绒服</a></li>
								</ul>
								<ul>
									<h5>女士裤装</h5>
									<li><a href="">牛仔裤</a></li>
									<li><a href="">休闲裤</a></li>
									<li><a href="">小脚裤</a></li>
									<li><a href="">短裤</a></li>
								</ul>
								<ul>
									<h5>男士上装</h5>
									<li><a href="">T恤</a></li>
									<li><a href="">POLO衫</a></li>
									<li><a href="">外套</a></li>
									<li><a href="">卫衣</a></li>
									<li><a href="">针织衫</a></li>
									<li><a href="">长袖衬衫</a></li>
									<li><a href="">西装</a></li>
									<li><a href="">短袖衬衫</a></li>
								</ul>
								<ul>
									<h5>睡衣/家居服</h5>
									<li><a href="">男士家居服</a></li>
									<li><a href="">女士家居服</a></li>
									<li><a href="">秋冬家居服</a></li>
									<li><a href="">睡裙</a></li>
								</ul>
							</div>
							<div class="box2">
								<ul>
									<h5>女士裙装/套装</h5>
									<li><a href="">连衣裙</a></li>
									<li><a href="">蕾丝连衣裙</a></li>
									<li><a href="">印花连衣裙</a></li>
									<li><a href="">棉麻连衣裙</a></li>
									<li><a href="">背心裙</a></li>
									<li><a href="">半身裙</a></li>
									<li><a href="">A字裙</a></li>
									<li><a href="">包臀裙</a></li>
									<li><a href="">百褶裙</a></li>
									<li><a href="">休闲套装</a></li>
								</ul>
								<ul>
									<h5>文胸塑身</h5>
									<li><a href="">文胸</a></li>
									<li><a href="">文胸套装</a></li>
									<li><a href="">光面文胸</a></li>
									<li><a href="">聚拢文胸</a></li>
								</ul>
								<ul>
									<h5>男士裤装</h5>
									<li><a href="">休闲裤</a></li>
									<li><a href="">牛仔裤</a></li>
									<li><a href="">西装裤</a></li>
									<li><a href="">短裤</a></li>
								</ul>
								<ul>
									<h5>内衣/内裤/袜子</h5>
									<li><a href="">女士内裤</a></li>
									<li><a href="">男士内裤</a></li>
									<li><a href="">女袜</a></li>
									<li><a href="">男袜</a></li>
									<li><a href="">连裤袜/丝袜</a></li>
									<li><a href="">女士保暖内衣</a></li>
									<li><a href="">男士保暖内衣</a></li>
								</ul>
							</div>
						<ul>   
                               <!--
                               	作者：offline
                               	时间：2017-10-12
                               	描述：这里是广告
                               -->
							<li><a href=""><img src="images/ha/81f.jpg" /></a></li>
							<li><a href=""><img src="images/ha/82f.jpg" /></a></li>
						</ul>
					</div>
					</dd>
					<dd>&#xe640; <a href="http://search.bl.com/c-a101742.html?bl_ad=P668899_-_9999060060_-_3&bl_mmc=blemall_-_0_-_0_-_0">手机数码 电脑办公</a>
						<div class="bannerx">
							<div class="box1">
								<ul>
									<h5>手机通讯</h5>
									<li><a href="">手机</a></li>
									<li><a href="">iPhone</a></li>
									<li><a href="">华为</a></li>
									<li><a href="">荣耀</a></li>
									<li><a href="">三星</a></li>
									<li><a href="">小米</a></li>
									<li><a href="">魅族</a></li>
									<li><a href="">OPPO</a></li>
									<li><a href="">vivo</a></li>
									<li><a href="">老人机</a></li>
									<li><a href="">大屏手机</a></li>
								</ul>
								<ul>
									<h5>电脑整机/装机DIY</h5>
									<li><a href="">笔记本</a></li>
									<li><a href="">游戏本</a></li>
									<li><a href="">台式机</a></li>
									<li><a href="">一体机</a></li>
									<li><a href="">平板电脑</a></li>
									<li><a href="">iPad</a></li>
									<li><a href="">surface</a></li>
									<li><a href="">显示器</a></li>
									<li><a href="">ThinkPad</a></li>
									<li><a href="">硬盘</a></li>
									<li><a href="">联想</a></li>
								</ul>
								<ul>
									<h5>时尚影音/智能设备/电子教育</h5>
									<li><a href="">耳机耳麦</a></li>
									<li><a href="">音响</a></li>
									<li><a href="">音乐播放器</a></li>
									<li><a href="">电玩游戏</a></li>
									<li><a href="">智能手环</a></li>
									<li><a href="">智能手表</a></li>
									<li><a href="">智能眼镜</a></li>
									<li><a href="">无人机</a></li>
									<li><a href="">Kindle</a></li>
									<li><a href="">录音笔</a></li>
									<li><a href="">电子教育</a></li>
									<li><a href="">乐器</a></li>
								</ul>
								<ul>
									<h5>办公设备/打印耗材</h5>
									<li><a href="">一体机</a></li>
									<li><a href="">打印机</a></li>
									<li><a href="">打印耗材</a></li>
									<li><a href="">碎纸机</a></li>
									<li><a href="">装订机</a></li>
									<li><a href="">塑封机</a></li>
									<li><a href="">保险箱</a></li>
								</ul>
							</div>
							<div class="box2">
								<ul>
									<h5>手机/数码配件</h5>
									<li><a href="">移动电源</a></li>
									<li><a href="">电池</a></li>
									<li><a href="">手机耳机</a></li>
									<li><a href="">蓝牙耳机</a></li>
									<li><a href="">贴膜</a></li>
									<li><a href="">数据线</a></li>
									<li><a href="">车载配件</a></li>
									<li><a href="">手机套</a></li>
									<li><a href="">存储卡</a></li>
								</ul>
								<ul>
									<h5>摄影摄像</h5>
									<li><a href="">数码相机</a></li>
									<li><a href="">单反</a></li>
									<li><a href="">单电/微单</a></li>
									<li><a href="">拍立得</a></li>
									<li><a href="">镜头</a></li>
									<li><a href="">运动摄像</a></li>
									<li><a href="">闪光灯</a></li>
									<li><a href="">相机包</a></li>
									<li><a href="">三脚架</a></li>
									<li><a href="">美颜神器</a></li>
								</ul>
								<ul>
									<h5>电脑外设/网络设备</h5>
									<li><a href="">鼠标</a></li>
									<li><a href="">键盘</a></li>
									<li><a href="">键鼠套装</a></li>
									<li><a href="">鼠标垫</a></li>
									<li><a href="">配件</a></li>
									<li><a href="">移动硬件</a></li>
									<li><a href="">手写板</a></li>
									<li><a href="">4G上网</a></li>
									<li><a href="">路由器</a></li>
									<li><a href="">U盘</a></li>
								</ul>
								<ul>
									<h5>办公用品/学生文具</h5>
									<li><a href="">笔</a></li>
									<li><a href="">纸</a></li>
									<li><a href="">本册便签</a></li>
									<li><a href="">文件管理</a></li>
									<li><a href="">文字修正</a></li>
									<li><a href="">粘胶</a></li>
									<li><a href="">装订</a></li>
									<li><a href="">计算器</a></li>
									<li><a href="">卷笔刀</a></li>
									<li><a href="">书包</a></li>
									<li><a href="">笔袋/笔盒</a></li>
								</ul>
							</div>
						<ul>   
                               <!--
                               	作者：offline
                               	时间：2017-10-12
                               	描述：这里是广告
                               -->
							<li><a href=""><img src="images/ha/91f.jpg" /></a></li>
							<li><a href=""><img src="images/ha/92f.jpg" /></a></li>
						</ul>
					</div>
					</dd>
					<dd>&#xe62f; <a href="http://search.bl.com/c-a102228.html?bl_ad=P668899_-_9999059985_-_3&bl_mmc=blemall_-_0_-_0_-_0">家用电器</a>
						<div class="bannerx">
							<div class="box1">
								<ul>
									<h5>大家电</h5>
									<li><a href="">平板电视</a></li>
									<li><a href="">空调</a></li>
									<li><a href="">冰箱</a></li>
									<li><a href="">洗衣机</a></li>
									<li><a href="">冰吧/冷柜</a></li>
									<li><a href="">酒柜</a></li>
								</ul>
								<ul>
									<h5>中式厨房小电</h5>
									<li><a href="">电饭煲</a></li>
									<li><a href="">养生壶</a></li>
									<li><a href="">电压力锅</a></li>
									<li><a href="">电磁炉</a></li>
									<li><a href="">电饼铛</a></li>
									<li><a href="">电水壶/热水壶</a></li>
									<li><a href="">电炖锅</a></li>
									<li><a href="">多用途锅</a></li>
									<li><a href="">电火锅</a></li>
								</ul>
								<ul>
									<h5>生活电器</h5>
									<li><a href="">空气净化器</a></li>
									<li><a href="">智能扫地机</a></li>
									<li><a href="">净水设备</a></li>
									<li><a href="">吸尘器</a></li>
									<li><a href="">加湿器</a></li>
									<li><a href="">除湿器</a></li>
									<li><a href="">电熨斗</a></li>
									<li><a href="">挂烫机</a></li>
									<li><a href="">干衣机</a></li>
									<li><a href="">饮水机</a></li>
								</ul>
								<ul>
									<h5>个护健康</h5>
									<li><a href="">剃须刀</a></li>
									<li><a href="">电动牙刷</a></li>
									<li><a href="">电吹风</a></li>
									<li><a href="">美发器</a></li>
									<li><a href="">美颜仪</a></li>
									<li><a href="">洁面仪</a></li>
									<li><a href="">脱毛器</a></li>
									<li><a href="">人体秤</a></li>
									<li><a href="">足浴盆</a></li>
								</ul>
							</div>
							<div class="box2">
								<ul>
									<h5>厨房大家电</h5>
									<li><a href="">燃气热水器</a></li>
									<li><a href="">烟灶套装</a></li>
									<li><a href="">洗碗机</a></li>
									<li><a href="">电热水器</a></li>
									<li><a href="">油烟机</a></li>
									<li><a href="">燃气灶</a></li>
									<li><a href="">消毒柜</a></li>
									<li><a href="">嵌入式电蒸烤箱</a></li>
								</ul>
								<ul>
									<h5>西式厨房小电</h5>
									<li><a href="">微波炉</a></li>
									<li><a href="">电烤箱</a></li>
									<li><a href="">咖啡机</a></li>
									<li><a href="">面包机</a></li>
									<li><a href="">料理机</a></li>
									<li><a href="">榨汁机</a></li>
									<li><a href="">空气炸锅</a></li>
									<li><a href="">酸奶机</a></li>
									<li><a href="">打蛋器</a></li>
									<li><a href="">美颜煮蛋器神器</a></li>
								</ul>
								<ul>
									<h5>两季电器</h5>
									<li><a href="">电风扇</a></li>
									<li><a href="">无叶电风扇/塔扇</a></li>
									<li><a href="">落地扇</a></li>
								</ul>
								<ul>
									<h5>影音视听</h5>
									<li><a href="">网络机顶盒</a></li>
									<li><a href="">家庭影院</a></li>
									<li><a href="">收/录音机</a></li>
								</ul>
							</div>
						<ul>   
                               <!--
                               	作者：offline
                               	时间：2017-10-12
                               	描述：这里是广告
                               -->
							<li><a href=""><img src="images/ha/101f.jpg" /></a></li>
							<li><a href=""><img src="images/ha/102f.jpg" /></a></li>
						</ul>
					</div>
					</dd>
					<dd>&#xe618; <a href="http://search.bl.com/c-a102103.html?bl_ad=P668899_-_9999060575_-_3&bl_mmc=blemall_-_0_-_0_-_0">运动户外 汽车用品</a>
						<div class="bannerx">
							<div class="box1">
								<ul>
									<h5>运动鞋服</h5>
									<li><a href="">T恤</a></li>
									<li><a href="">卫衣外套</a></li>
									<li><a href="">套装</a></li>
									<li><a href="">运动裤</a></li>
									<li><a href="">跑步鞋</a></li>
									<li><a href="">篮球鞋</a></li>
									<li><a href="">板鞋/休闲鞋</a></li>
									<li><a href="">帆布鞋</a></li>
									<li><a href="">运动包</a></li>
									<li><a href="">配件</a></li>
								</ul>
								<ul>
									<h5>户外鞋服</h5>
									<li><a href="">冲锋衣裤</a></li>
									<li><a href="">皮肤风衣</a></li>
									<li><a href="">速干衣裤</a></li>
									<li><a href="">抓绒衣裤</a></li>
									<li><a href="">登山鞋</a></li>
									<li><a href="">配件</a></li>
								</ul>
								<ul>
									<h5>户外装备</h5>
									<li><a href="">帐篷</a></li>
									<li><a href="">望远镜</a></li>
									<li><a href="">野餐用品</a></li>
								</ul>
								<ul>
									<h5>运动器材</h5>
									<li><a href="">自行车</a></li>
									<li><a href="">电动车</a></li>
									<li><a href="">跑步机</a></li>
									<li><a href="">动感单车</a></li>
									<li><a href="">椭圆机</a></li>
									<li><a href="">综合训练</a></li>
									<li><a href="">哑铃</a></li>
									<li><a href="">球类运动</a></li>
									<li><a href="">排球</a></li>
									<li><a href="">轮滑</a></li>
									<li><a href="">游泳</a></li>
								</ul>
							</div>
							<div class="box2">
								<ul>
									<h5>汽车养护</h5>
									<li><a href="">机油</a></li>
									<li><a href="">美孚</a></li>
									<li><a href="">壳牌</a></li>
									<li><a href="">嘉实多</a></li>
									<li><a href="">添加剂</a></li>
									<li><a href="">玻璃水</a></li>
								</ul>
								<ul>
									<h5>车载电器</h5>
									<li><a href="">行车记录仪</a></li>
									<li><a href="">车载净化器</a></li>
									<li><a href="">车载冰箱</a></li>
									<li><a href="">车载电源</a></li>
									<li><a href="">车载吸尘器</a></li>
									<li><a href="">充气泵</a></li>
								</ul>
								<ul>
									<h5>汽车内饰/应急救援</h5>
									<li><a href="">座垫座套</a></li>
									<li><a href="">脚垫</a></li>
									<li><a href="">后背箱垫</a></li>
									<li><a href="">方向盘套</a></li>
									<li><a href="">头枕腰靠</a></li>
									<li><a href="">车载香水</a></li>
									<li><a href="">救援包</a></li>
								</ul>
								<ul>
									<h5>美容清洗</h5>
									<li><a href="">洗车水枪</a></li>
									<li><a href="">车蜡</a></li>
									<li><a href="">擦车巾</a></li>
									<li><a href="">清洁剂</a></li>
								</ul>
							</div>
						<ul>   
                               <!--
                               	作者：offline
                               	时间：2017-10-12
                               	描述：这里是广告
                               -->
							<li><a href=""><img src="images/ha/111f.jpg" /></a></li>
							<li><a href=""><img src="images/ha/112f.jpg" /></a></li>
						</ul>
					</div>
					</dd>
					<dd>&#xe6f2; <a href="http://search.bl.com/c-a101989.html?bl_ad=P668899_-_9999060521_-_3&bl_mmc=blemall_-_0_-_0_-_0">营养滋补 保健器械</a>
						<div class="bannerx">
							<div class="box1">
								<ul>
									<h5>秋季"平"补</h5>
									<li><a href="">石斛/枫斗</a></li>
									<li><a href="">冬虫夏草</a></li>
									<li><a href="">燕窝</a></li>
									<li><a href="">阿胶</a></li>
									<li><a href="">蜂蜜</a></li>
									<li><a href="">三七</a></li>
								</ul>
								<ul>
									<h5>进口保健品</h5>
									<li><a href="">麦卢卡蜂蜜</a></li>
									<li><a href="">维生素</a></li>
									<li><a href="">葡萄籽</a></li>
									<li><a href="">酵素</a></li>
									<li><a href="">螺旋藻</a></li>
									<li><a href="">鱼油</a></li>
									<li><a href="">维骨力</a></li>
									<li><a href="">代餐蛋白粉</a></li>
									<li><a href="">辅酶Q10</a></li>
									<li><a href="">月见草</a></li>
								</ul>
								<ul>
									<h5>传统滋养</h5>
									<li><a href="">蜂蜜</a></li>
									<li><a href="">阿胶</a></li>
									<li><a href="">燕窝</a></li>
									<li><a href="">人参</a></li>
									<li><a href="">灵芝</a></li>
									<li><a href="">三七</a></li>
									<li><a href="">冬虫夏草</a></li>
									<li><a href="">鹿茸</a></li>
									<li><a href="">药食同源</a></li>
									
								</ul>
								<ul>
									<h5>基础营养</h5>
									<li><a href="">增强免疫力</a></li>
									<li><a href="">减肥瘦身</a></li>
									<li><a href="">美容养颜</a></li>
									<li><a href="">保护视力</a></li>
									<li><a href="">骨骼关节养护</a></li>
									<li><a href="">调节三高</a></li>
								</ul>
							</div>
							<div class="box2">
								<ul>
									<h5>动植物提取物</h5>
									<li><a href="">玛卡</a></li>
									<li><a href="">番茄红素</a></li>
									<li><a href="">葡萄籽</a></li>
									<li><a href="">蔓越莓</a></li>
									<li><a href="">奶蓟草</a></li>
									<li><a href="">人参</a></li>
									<li><a href="">珍珠粉</a></li>
									<li><a href="">鱼油</a></li>
									<li><a href="">螺旋藻</a></li>
								</ul>
								<ul>
									<h5>维生素</h5>
									<li><a href="">维生素B</a></li>
									<li><a href="">维生素C</a></li>
									<li><a href="">维生素D</a></li>
									<li><a href="">钙</a></li>
									<li><a href="">铁</a></li>
									<li><a href="">复合维生素</a></li>
								</ul>
								<ul>
									<h5>适用人群</h5>
									<li><a href="">男士保健</a></li>
									<li><a href="">女士保养</a></li>
									<li><a href="">呵护老人</a></li>
								</ul>
								<ul>
									<h5>畅销品牌</h5>
									<li><a href="">神象</a></li>
									<li><a href="">雷允上</a></li>
									<li><a href="">同仁堂</a></li>
									<li><a href="">Swisse</a></li>
									<li><a href="">澳佳宝</a></li>
									<li><a href="">Doppelherz双心</a></li>
									<li><a href="">GNC</a></li>
									<li><a href="">Schiff</a></li>
									<li><a href="">Natrol</a></li>
									<li><a href="">欧姆龙</a></li>
								</ul>
							</div>
						<ul>   
                               <!--
                               	作者：offline
                               	时间：2017-10-12
                               	描述：这里是广告
                               -->
							<li><a href=""><img src="images/ha/121f.jpg" /></a></li>
							<li><a href=""><img src="images/ha/122f.jpg" /></a></li>
						</ul>
					</div>
					</dd>
					<dd>&#xe600; <a href="http://blk.bl.com/?bl_ad=P668899_-_9999109339_-_3&bl_mmc=blemall_-_0_-_0_-_0">礼品卡 充值 图书</a>
						<div class="bannerx">
							<div class="box1">
								<ul>
									<h5>礼品卡/消费卡券</h5>
									<li><a href="">月饼券</a></li>
									<li><a href="">大闸蟹券</a></li>
									<li><a href="">新经典卡</a></li>
									<li><a href="">生日卡</a></li>
									<li><a href="">新婚卡</a></li>
									<li><a href="">感恩卡</a></li>
									<li><a href="">新生卡</a></li>
									<li><a href="">乔迁卡</a></li>
								</ul>
								<ul>
									<h5>生活图书</h5>
									<li><a href="">旅游</a></li>
									<li><a href="">体育健身</a></li>
									<li><a href="">饮食</a></li>
									<li><a href="">休闲娱乐</a></li>
									<li><a href="">居家</a></li>
									<li><a href="">杂志</a></li>
									<li><a href="">美容美体</a></li>
									<li><a href="">孕产育儿</a></li>
								</ul>
								<ul>
									<h5>文艺图书</h5>
									<li><a href="">小说</a></li>
									<li><a href="">人物传记</a></li>
								</ul>
								<ul>
									<h5>少儿图书</h5>
									<li><a href="">0-2岁</a></li>
									<li><a href="">3-6岁</a></li>
									<li><a href="">早教启蒙</a></li>
									<li><a href="">幼儿手工</a></li>
									<li><a href="">智力开发</a></li>
									<li><a href="">少儿英语</a></li>
									<li><a href="">少儿文学</a></li>
									<li><a href="">少儿技能</a></li>
									<li><a href="">少儿百科</a></li>
									<li><a href="">亲子读物</a></li>
								</ul>
							</div>
							<div class="box2">
								<ul>
									<h5>充值缴费</h5>
									<li><a href="">手机充值</a></li>
									<li><a href="">流量充值</a></li>
									<li><a href="">游戏充值</a></li>
									<li><a href="">水费缴费</a></li>
									<li><a href="">电费缴费</a></li>
									<li><a href="">燃气缴费</a></li>
								</ul>
								<ul>
									<h5>教辅图书</h5>
									<li><a href="">新华字典</a></li>
									<li><a href="">汉语词典</a></li>
									<li><a href="">成语词典</a></li>
									<li><a href="">牛津词典</a></li>
									<li><a href="">小学教辅</a></li>
									<li><a href="">初中教辅</a></li>
									<li><a href="">高中教辅</a></li>
									<li><a href="">新概念</a></li>
									<li><a href="">英语四级</a></li>
									<li><a href="">英语六级</a></li>
									<li><a href="">会计考试</a></li>
								</ul>
								<ul>
									<h5>人文社科</h5>
									<li><a href="">中国史</a></li>
									<li><a href="">世界史</a></li>
									<li><a href="">文化</a></li>
									<li><a href="">宗教</a></li>
									<li><a href="">法律</a></li>
									<li><a href="">政治军事</a></li>
									<li><a href="">科普读物</a></li>
									<li><a href="">医学</a></li>
								</ul>
							</div>
						<ul>   
                               <!--
                               	作者：offline
                               	时间：2017-10-12
                               	描述：这里是广告
                               -->
							<li><a href=""><img src="images/ha/131f.jpg" /></a></li>
							<li><a href=""><img src="images/ha/132f.jpg" /></a></li>
						</ul>
					</div>
					</dd>
				</dl>
				<ul id="list2">
					<li>
						<a href="">生活日用
							<span class="ii"></span>
						</a>
					</li>
					<li>
						<a href="">24H百货
							<span class"ii"></span>
						</a>
					</li>
					<li>
						<a href="">全球购
							<span class="ii"></span>
						</a>
					</li>
					<li>
						<a href="">精品闪购
							<span class"ii"></span>
						</a>
					</li>
					<li>
						<a href="">电器城
							<span class="ii"></span>
						</a>
					</li>
					<li>
						<a href="">奥莱代购
							<span class="ii"></span>
						</a>
					</li>
					<li>
						<a href="">礼品卡
							<span class="ii"></span>
						</a>
					</li>
			</ul>
		</div
		<div class="what">
			<hr />
			<div class="main kuqi">
				
				<div id="smallImg">
					<img src="images/ha/371.jpg" width="448" height="448" />
					<div id="smallArea"></div>
				</div>
				<div id="bigArea">
					<img id="bigImg" src="images/ha/371.jpg" width="600" height="600" />
				</div>
				<div class="nav-right">
					<h1>【官方授权】Apple MacBook Pro MPXT2CH/A 13.3英寸笔记本电脑 深空灰色</h1>
					<a>2017款MacBook笔记本全新登场！第七代Intel处理器带来更强性能！（Core i5处理器/8GB内存/256GB硬盘 MPXT2CH/A）</a>
					<div id="px1">
						<div>抢啊！！！</div>
						<div>活动价：<a>18888.00</a></div>
					</div>
					<div class="kaka">
						<div>促销</div>
						<div>[满减]   满199减1</div>
					</div>
					<div class="kaka">
						<div>配送</div>
						<div>
							<section></section><a>全场满68元包邮</a>
						</div>
					</div>
					<div class="kaka">
						<div>服务</div>
						<div>由<a></a>提供发货和售后服务
						</div>
						<ol>
							<li>不支持到店自提</li>
							<li>不支持7天无理由退货</li>
							<li>不支持货到付款</li>
						</ol>
					</div>
					<div class="kaka">
						<div>购买数量</div>
						<div class="aaa">
							<button>-</button>
							<button>1</button>
							<button>+</button>
						</div>
						<div class="bb"><span>限购99<a></a>件</span></div>
						
					</div>
					<div id="inpt">
						<div></div>
						<div>
							<input type="button" value="立即购买" />
							<input type="submit" value="加入购物车" />
						</div>
					</div>
				</div>
			</div>
			<div class="bott">
			<div class="main" id="sx">
				<ul id="xs">
					<li>关于我们</li>
					<li>联系我们</li>
					<li>加盟合作</li>
					<li>诚征英才</li>
					<li>友情链接</li>
				</ul>
				<p>百联集团有限公司旗下 上海百联全渠道电子商务有限公司版权所有       |   客服电话：400-900-8800    |    沪ICP备15028847号</p>
				<p><a href="http://res12.iblimg.com/respc-1/resources/v4.0/img/yaopingzigezheng.png?bl_mmc=blemall_-_0_-_0_-_0">互联网药品信息服务资质证书编号：沪-（非营业性）-2016-0044</a></p>
				<ul id="xs1">
					<li>
						<img src="images/ha/gongan.png" />
						<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010102002366&bl_mmc=blemall_-_0_-_0_-_0">沪公网安备 31010102002366号  </a>
					</li>
					<li>
						<img src="images/ha/gongs.png" />
						<a href="http://shwg.dianping.com/?bl_mmc=blemall_-_0_-_0_-_0">网购大家评</a>
					</li>
					<li>
						<img src="images/ha/wangjing.png" />
						<a href="http://218.242.124.22:8081/businessCheck/verifKey.do?showType=extShow&serial=9031000020160729145737000001099658-SAIC_SHOW_310000-20160406145114141192&signData=MEYCIQCUhx+ulQL4t9jJgfgCH1oeTxexuWOVww3Hel3/UlRyLQIhAO2fVtZDl0EkYb0p/3M50cXqe694wDQoJNuUKNdQNOWf&bl_mmc=blemall_-_0_-_0_-_0">上海工商</a>
					</li>
					<li>
						<img src="images/ha/zhizhao.png" />
						<a href="http://promotion.bl.com/nc/PC_HDGL20170407000001552_1592.html?bl_mmc=blemall_-_0_-_0_-_0">经营执照</a>
					</li>
				</ul>
			</div>
		</div>			

			
			
			
			
			
		</div>
		
		
		
		
	</body>
		
		
		
		
		
		
		

</html>
